<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>shensquared.alfred.ImageMagick</string>
	<key>connections</key>
	<dict>
		<key>1D0E4CCF-8C22-4574-AE9F-0D70920479D6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C641557-7A00-47F8-9714-16FB10839D7D</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C0B733C-643D-42F4-AD97-5D7553DE61C4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>ADDD91EA-1196-4CFB-9C3D-189FD399C6B9</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6C641557-7A00-47F8-9714-16FB10839D7D</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>BA2D7373-D4FC-4DD3-B86A-D96EF56F312C</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>93C0CA81-E59D-44E7-9B8A-D9BFA74706A0</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B2C4D318-6C0B-46C2-B6C6-CD86566975F4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>B2C4D318-6C0B-46C2-B6C6-CD86566975F4</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>6C0B733C-643D-42F4-AD97-5D7553DE61C4</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>BA2D7373-D4FC-4DD3-B86A-D96EF56F312C</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>080C078C-5747-4304-9A30-CB4921F076A3</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>EA241CBE-B9E4-4050-BAE7-9EDCEB5A5D56</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>1D0E4CCF-8C22-4574-AE9F-0D70920479D6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Shen Shen</string>
	<key>description</key>
	<string>Image manipulations -- resize, make tight, conversion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ImageMagick</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

bash tight-square.sh "$1" "$filepath"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>BA2D7373-D4FC-4DD3-B86A-D96EF56F312C</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>2</integer>
				<key>fixedorder</key>
				<false/>
				<key>items</key>
				<string>[{"title":"Crop Whitespace","arg":"crop","subtitle":"Remove surrounding whitespace"},{"title":"Crop Whitespace + Square","arg":"crop_square","subtitle":"Remove whitespace and pad to square"}]</string>
				<key>matchmode</key>
				<integer>0</integer>
				<key>runningsubtext</key>
				<string></string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>TightLayout</string>
				<key>withspace</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.listfilter</string>
			<key>uid</key>
			<string>6C641557-7A00-47F8-9714-16FB10839D7D</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.heic</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.svg-image</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Make TightLayout</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>EA241CBE-B9E4-4050-BAE7-9EDCEB5A5D56</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>080C078C-5747-4304-9A30-CB4921F076A3</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filepath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>1D0E4CCF-8C22-4574-AE9F-0D70920479D6</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>102</integer>
				<key>script</key>
				<string>#!/bin/bash

bash remove-white-bg.sh "$filepath"</string>
				<key>scriptargtype</key>
				<integer>0</integer>
				<key>scriptfile</key>
				<string></string>
				<key>type</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>6C0B733C-643D-42F4-AD97-5D7553DE61C4</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>acceptsmulti</key>
				<integer>1</integer>
				<key>filetypes</key>
				<array>
					<string>com.compuserve.gif</string>
					<string>public.heic</string>
					<string>public.jpeg</string>
					<string>public.png</string>
					<string>public.svg-image</string>
					<string>public.tiff</string>
				</array>
				<key>name</key>
				<string>Remove Background</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.action</string>
			<key>uid</key>
			<string>93C0CA81-E59D-44E7-9B8A-D9BFA74706A0</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>imageresizemode</key>
				<integer>0</integer>
				<key>stackview</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.userinterface.image</string>
			<key>uid</key>
			<string>ADDD91EA-1196-4CFB-9C3D-189FD399C6B9</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argument</key>
				<string></string>
				<key>passthroughargument</key>
				<false/>
				<key>variables</key>
				<dict>
					<key>filepath</key>
					<string>{query}</string>
				</dict>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.argument</string>
			<key>uid</key>
			<string>B2C4D318-6C0B-46C2-B6C6-CD86566975F4</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>080C078C-5747-4304-9A30-CB4921F076A3</key>
		<dict>
			<key>xpos</key>
			<real>520</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>1D0E4CCF-8C22-4574-AE9F-0D70920479D6</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>50</real>
		</dict>
		<key>6C0B733C-643D-42F4-AD97-5D7553DE61C4</key>
		<dict>
			<key>xpos</key>
			<real>235</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>6C641557-7A00-47F8-9714-16FB10839D7D</key>
		<dict>
			<key>xpos</key>
			<real>225</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>93C0CA81-E59D-44E7-9B8A-D9BFA74706A0</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>ADDD91EA-1196-4CFB-9C3D-189FD399C6B9</key>
		<dict>
			<key>xpos</key>
			<real>380</real>
			<key>ypos</key>
			<real>155</real>
		</dict>
		<key>B2C4D318-6C0B-46C2-B6C6-CD86566975F4</key>
		<dict>
			<key>colorindex</key>
			<integer>10</integer>
			<key>xpos</key>
			<real>170</real>
			<key>ypos</key>
			<real>185</real>
		</dict>
		<key>BA2D7373-D4FC-4DD3-B86A-D96EF56F312C</key>
		<dict>
			<key>xpos</key>
			<real>375</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
		<key>EA241CBE-B9E4-4050-BAE7-9EDCEB5A5D56</key>
		<dict>
			<key>xpos</key>
			<real>30</real>
			<key>ypos</key>
			<real>20</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>filtermode</key>
				<integer>1</integer>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
			</dict>
			<key>description</key>
			<string>Folder for saving shrinked image(s). If empty the source path will be used.</string>
			<key>label</key>
			<string>Target Folder</string>
			<key>type</key>
			<string>filepicker</string>
			<key>variable</key>
			<string>target_folder</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string></string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string>Creates a copy of the image file with SUFFIX.</string>
			<key>label</key>
			<string>Image Suffix</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>img_suffix</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>open</string>
				<key>pairs</key>
				<array>
					<array>
						<string>Open</string>
						<string>open</string>
					</array>
					<array>
						<string>Reveal</string>
						<string>reveal</string>
					</array>
					<array>
						<string>Open and Reveal</string>
						<string>open_reveal</string>
					</array>
					<array>
						<string>Ask</string>
						<string>ask</string>
					</array>
					<array>
						<string>Do nothing</string>
						<string>no</string>
					</array>
				</array>
			</dict>
			<key>description</key>
			<string>Open or reveal converted image(s) when shrinking is complete</string>
			<key>label</key>
			<string>Open or Reveal Image(s)</string>
			<key>type</key>
			<string>popupbutton</string>
			<key>variable</key>
			<string>open_file</string>
		</dict>
	</array>
	<key>version</key>
	<string>0.9</string>
	<key>webaddress</key>
	<string>https://github.com/shensquared/alfred-ImageMagick-fileactions</string>
</dict>
</plist>
